<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baichizhan">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNoActionBar"
        android:usesCleartextTraffic="true">
        <!--        开始界面-->
        <activity android:name=".Activity.activity_Welcome"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </activity>


        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.HELLO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.activity_wordDetails"></activity>
        <activity android:name=".Activity.activity_wordList" />
        <activity android:name=".Activity.activity_select" />
        <activity android:name=".Activity.activity_learn" />
        <activity android:name=".Activity.activity_learnOver" />
        <activity android:name=".Activity.activity_test" />
        <activity android:name=".Activity.activity_testResult" />

    </application>

</manifest>